<!doctype html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% stylesheets
        'bundles/webicksmuttery/css/responsive-style.css'
        'bundles/webicksmuttery/css/style.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="page page-id-1484 page-template page-template-responsive-theme-php">
    <div id="container" class="hfeed">
        <div id="header">
            <div id="logo">
                <a href="http://muttery.com/"><img src="{{ asset("bundles/webicksmuttery/images/logo.png") }}" width="300" alt="ThemeID" /></a>
            </div><!-- end of #logo -->
    </div><!-- end of #header -->
    <div id="wrapper" class="clearfix">
        <div id="content-full" class="grid col-940">
        {% block body %}{#         Here goes your content!     #}{% endblock %}
        </div><!-- end of content -->
    </div><!-- end of #wrapper -->
</div><!-- end of #container -->

<div id="footer" class="clearfix">
    <div id="footer-wrapper">
        <div class="grid col-940">
            <div class="grid col-540">
            </div>
            <div class="grid col-380 fit">
                <ul class="social-icons">
                    <li class="twitter-icon">
                        <a href="https://twitter.com/emiluzelac">
                            <img src="http://themeid.com/wp-content/themes/tid/icons/twitter-icon.png" width="24" height="24" alt="Twitter">
                        </a>
                    </li>
                    <li class="linkedin-icon">
                        <a href="http://www.linkedin.com/in/emiluzelac">
                            <img src="http://themeid.com/wp-content/themes/tid/icons/linkedin-icon.png" width="24" height="24" alt="LinkedIn">
                        </a>
                    </li>
                    <li class="google-plus-icon">
                        <a href="https://plus.google.com/u/0/112129109307828347852?rel=author">
                            <img src="http://themeid.com/wp-content/themes/tid/icons/googleplus-icon.png" width="24" height="24" alt="Google Plus">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid col-300 copyright">
            <a href="http://themeid.com/">
                <img src="{{ asset("bundles/webicksmuttery/images/footer-logo.png") }}" class="logo-footer" width="100" height="26" alt="ThemeID" />
            </a>
            &copy; 2003 &#8211;2012<a href="http://themeid.com/" title="ThemeID">
            </a>
        </div>
        <div class="grid col-300 fit powered">
            <a href="http://themeid.com/responsive-theme/" title="Responsive Theme">
                    Responsive Theme</a>
            powered by <a href="http://wordpress.org/" title="WordPress">
                    WordPress</a>
        </div><!-- end .powered -->
    </div><!-- end #footer-wrapper -->
</div><!-- end #footer -->
</body>
</html>