<div>
	<p class="chat-title" onclick="javascript: toggleChat();">Real Time Chat</p>
    <div id="msgs"></div>
    <div id="form">
        <form id="chatForm" onsubmit="return false;" action="javascript://">
            <input id="chatMsg" type="text" autocomplete="off" name="message"/><br/>
            <input type="submit" />
        </form>
    </div>
</div>