<form action="{{ postUrl }}?nexturl={{ nextUrl }}" method="post" enctype="multipart/form-data">
    <input name="file" type="file"/>
    <input name="token" type="hidden" value="{{ tokenValue }}"/>
    <input value="Upload Video File" type="submit" />
</form>