<html>
    <head>
        <script type='text/javascript'>
        top.window.$(top.window.document).trigger('videoUpload', {{ '{' }}error:"{{ err }}",id:"{{ id }}"{{ '}' }});
        </script>
	</head>
	<body></body>
</html>