{% extends "WebicksMutteryBundle::responsive.html.twig" %}

{% block header_message %}
Welcom!
{% endblock %}

{% block body %}
<div class="grid col-540">
    <h1>We're waiting for you:</h1>
    <hr />
    <div class="invites pending">

    {% for friend in myFriends %}

        <div class="userbox">
            <div class="username">{{ friend.name }}</div>
            <div class="picture"><img src="https://graph.facebook.com/{{ friend.id }}/picture?type=large" /></div>
        </div>

    {% endfor %}


    </div>
</div>

<div class="grid col-380 fit">
    <div id="register-box">
        {{ facebook_login_button({'autologoutlink': true}) }}
        {% if not app.user %}
         and Start muttering!
         {% endif %}

    </div>
</div>
{% endblock %}