{% extends "WebicksMutteryBundle::responsive.html.twig" %}

{% block header_message %}
Welcome!
{% endblock %}

{% block body %}

{# Mutter creation overlay box to be displayed on FB login. #}
<div id="create-mutter">
    <div>
        <span id="ov-message">Welcome, please create your mutter here! Or <a id="close-mutter" href="javascript://">close</a>!</span>
        <div>
        <input type="text" id="mutter-name" value="" />
        <input type="radio" id="mutter-type-message" name="mutter-type" class="radio-button" checked />
        <input type="radio" id="mutter-type-youtube" name="mutter-type" class="radio-button"  />
        <input type="radio" id="mutter-type-redirect" name="mutter-type" class="radio-button"  />

        </div>

    </div>
</div>

<div class="grid col-540">
    <h1>We're waiting for you:</h1>
    <hr />
    <div class="invites pending">
    {% for friend in myFriends %}
        <div class="userbox">
            <div class="username">{{ friend.name }}</div>
            <div class="picture"><img src="https://graph.facebook.com/{{ friend.id }}/picture?type=large" /></div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="grid col-380 fit">
    <div id="register-box">
        {% if not app.user %}
        {{ facebook_login_button({'autologoutlink': false}) }}
         and Start muttering!
         {% else %}
         Start muttering!
         {% endif %}
    </div>
</div>
{% endblock %}